header {
  margin-top: 1.5em;
  color: white;
  background-color: #28a745;
  padding: 0.5em;
}
.title {
  text-align: center;
  font-weight: 700;
}
.all-players {
  display: flex;
  margin-top: 2em;
}
.card-container {
  display: flex;
  width: 82%;
  border-right: 2px solid orange;
}
.card-style-div {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 100%;
}
.selection-style {
  width: 18%;
  text-align: center;
}
